<div class="fixed-top navbar-lewagon d-flex">
  
  <div class="navbar navbar-expand-sm navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active">
          <a href="#accueil" class="nav-link">Home</a>
        </li>

        <li>
          <a href="#services" class="nav-link">Services</a>
        </li>
        
        <li class="nav-item">
          <a href="#technologies" class="nav-link">Technologies</a>
        </li>

        <li class="nav-item">
          <a href="#parcours" class="nav-link">Background</a>
        </li>

        <li class="nav-item">
          <a href="#portfolio" class="nav-link">Portfolio</a>
        </li>

        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact</a>
        </li> 

      </ul>

    </div>
  </div>

  <div>
    <%= link_to fr_path do %>
      <%= image_tag "flag_fr.jpg", class:"flag", alt:"eng"%> 
    <% end %>
    <%= link_to eng_path do %>
      <%= image_tag "flag_eng.png", class:"flag", alt:"eng"%> 
    <% end %>
  </div>


</div>

  <div class="main-container">

    <div id="accueil" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1492138786289-d35ea832da43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);">
      <div class="banner-container">
        <h1>Noémie Piérart</h1>
        <h2>Fullstack web developer</h2>
        <img src="/assets/NP_avatar.jpg" alt="Photo Noemie" class="avatar"/>
      </div>
    </div>

    <div id="services">
      <div class="container">
      <h2 class="title text-center aos-init aos-animate" data-aos="zoom-in">Services</h2>
        <p>Creation of web/mobile applications :</p>
        <br>
        <div class="row">
          <div class="col-2 ">
            <img src="/assets/conception_icon.png" class="icon aos-init aos-animate" data-aos="fade-right">
          </div>
          <p class="col-10"><strong>Conception : </strong>Analysing and structuring the project : authentification,  géolocalization, search engine, automated mailings, payment, etc.</p>
        </div>
        <br>
        <div class="row">
          <div class="col-2 ">
            <img src="/assets/design_icon.png" class="icon aos-init aos-animate" data-aos="fade-right">
          </div>
          <p class="col-10"><strong>Design : </strong>Creation of user-journey mockups, with a responsive design adjusting to all screen-sizes (including mobile).</p>
        </div>
        <br>
        <div class="row">
          <div class="col-2 ">
            <img src="/assets/development_icon.png" class="icon aos-init aos-animate" data-aos="fade-right">
          </div>
          <p class="col-10"><strong>Developement : </strong>Technical production of the web/mobile application until it's fully online (coding, architecture, databases, etc.) .</p>
        </div>
      </div>
    </div>


    <div id="technologies" class="container">
      <h2 class="title text-center aos-init aos-animate" data-aos="zoom-in">Technologies</h2>
      <div class="row" id="bg-yellow">
        <div class="text-center front-back w-100"><p><strong>Front-end </strong>(web design)</p></div>
        <div class="row w-100">

          <div class="card-techno col-4 aos-init aos-animate" data-aos="flip-left">
            <img src="/assets/HTML.png" alt="HTML logo" class="techno-logos">
            <div class="techno-names">HTML</div>
          </div>

          <div class="card-techno col-4 aos-init aos-animate" data-aos="flip-left">
            <img src="/assets/CSS.png" alt="CSS logo" class="techno-logos aos-init aos-animate" data-aos="flip-left">
            <div class="techno-names">CSS</div>
          </div>

          <div class="card-techno col-4 aos-init aos-animate" data-aos="flip-left">
            <img src="/assets/javascript.png" alt="JS logo" class="techno-logos aos-init aos-animate" data-aos="flip-left">
            <div class="techno-names">Javascript</div>
          </div>

          <div class="card-techno col-4 aos-init aos-animate" data-aos="flip-left">
            <img src="/assets/responsive.png" alt="Responsive logo" class="techno-logos aos-init aos-animate" data-aos="flip-left">
            <div class="techno-names">Responsive</div>
          </div>

          <div class="card-techno col-4 aos-init aos-animate" data-aos="flip-left">
            <img src="/assets/bootstrap.png" alt="Responsive logo" class="techno-logos aos-init aos-animate" data-aos="flip-left">
            <div class="techno-names">Bootstrap</div>
          </div>

          <div class="card-techno col-4 aos-init aos-animate" data-aos="flip-left">
            <img src="/assets/figma.jpg" alt="Responsive logo" class="techno-logos aos-init aos-animate" data-aos="flip-left">
            <div class="techno-names">Figma</div>
          </div>
        </div>
        
        <hr>

        <p class="text-center front-back w-100"><strong>Back-end</strong> (programmation)</p>
        <div class="row w-100">

            <div class="card-techno col-4 aos-init aos-animate" data-aos="flip-left">
              <img src="/assets/ruby.png" alt="ruby logo" class="techno-logos aos-init aos-animate" data-aos="flip-left">
              <div class="techno-names">Ruby</div>
            </div>

            <div class="card-techno col-4 aos-init aos-animate" data-aos="flip-left">
              <img src="/assets/rails.png" alt="rails logo" class="techno-logos aos-init aos-animate" data-aos="flip-left">
              <div class="techno-names">Rails</div>
            </div>

            <div class="card-techno col-4 aos-init aos-animate" data-aos="flip-left">
              <img src="/assets/postgreSQL.png" alt="postgreSQL logo" class="techno-logos aos-init aos-animate" data-aos="flip-left">
              <div class="techno-names">PostgreSQL</div>
            </div>

            <div class="card-techno col-4 aos-init aos-animate" data-aos="flip-left">
              <img src="/assets/stripe.jpg" alt="stripe logo" class="techno-logos aos-init aos-animate" data-aos="flip-left">
              <div class="techno-names">Stripe</div>
            </div>

            <div class="card-techno col-4 aos-init aos-animate" data-aos="flip-left">
              <img src="/assets/git.png" alt="Git logo" class="techno-logos aos-init aos-animate" data-aos="flip-left">
              <div class="techno-names">Git</div>
            </div>

            <div class="card-techno col-4 aos-init aos-animate" data-aos="flip-left">
              <img src="/assets/github.png" alt="github logo" class="techno-logos aos-init aos-animate" data-aos="flip-left">
              <div class="techno-names">Github</div>
            </div>

            <div class="card-techno col-4 aos-init aos-animate" data-aos="flip-left">
              <img src="/assets/heroku.png" alt="Heroku logo" class="techno-logos aos-init aos-animate" data-aos="flip-left">
              <div class="techno-names">Heroku</div>
            </div>

            <div class="card-techno col-4 aos-init aos-animate" data-aos="flip-left">
              <img src="/assets/terminal.png" alt="Terminal logo" class="techno-logos aos-init aos-animate" data-aos="flip-left">
              <div class="techno-names">Terminal</div>
            </div>

            <div class="card-techno col-4 aos-init aos-animate" data-aos="flip-left">
              <img src="/assets/mvc.png" alt="MVC logo" class="techno-logos aos-init aos-animate" data-aos="flip-left">
              <div class="techno-names">MVC pattern</div>
            </div>
        </div>
      </div>

      <div class="row">
        <img src="/assets/front_end_4.jpg" alt="front-end" class="card-category img-big col-6" id="front-end"> 
        <img src="/assets/back_end.jpg" alt="back-end" class="card-category img-big col-6" id="back-end"/>
      </div>
    </div>
    
    <div id="parcours">
      <div class="container">
        <h2 class="title text-center aos-init aos-animate" data-aos="zoom-in">Background</h2>
        <div class="row">
          <div class="col-2 ">
            <img src="/assets/studies_icon.png" class="icon" >
          </div>
          <p class="col-10">After three years of Humanities studies (Master's in Literature from La Sorbonne University), I graduated from <a href="https://www.escpeurope.eu/fr">ESCP Europe Business School</a> in Paris, with an exchange semester in India.</p>
        </div>
        <br>
        <div class="row">
         <div class="col-2 ">
            <img src="/assets/experience_icon.png" class="icon" >
          </div>
          <div class="col-10 ">
            <p>I have 10 years of work experience in project management, mostly on digital issues : </p>
            <ul>
              <li><p>at the <a href="https://www.oecd.org/fr/apropos/">OECD</a> (Organisation for Economic Cooperation and Development) headquarters in Paris : with 2 years as a consultant on a mission about IT modernisation for the government of Kazakhstan </li></p>
              <li><p>à <a href="https://www.bordeaux-metropole.fr/">Bordeaux Metropolitan Area</a> - 3 years as a Project Director on digital transformation. </p></li>
            </ul>
          </div>
        </div>
        <div class="row">
         <div class="col-2 ">
            <img src="/assets/wagon_icon.png" class="icon" >
          </div>
          <p class="col-10">In 2019, I learnt to code at the <a href="https://www.lewagon.com">Le Wagon</a> fullstack bootcamp to become a webdeveloper, an intensive 9-week training leading to a "Web applications designer and developer" certificate, (equivalent of a French "bac+3/4" level, more details <a href="https://www.lemondeinformatique.fr/actualites/lire-l-ecole-de-code-le-wagon-decroche-un-titre-rncp-de-niveau-2-74172.html">here</a>.)</p>
        </div>
      </div>
    </div>
    
    <div id="portfolio" class="container">
      <h2 class="title text-center aos-init aos-animate" data-aos="zoom-in">Portfolio</h2>
      <p class="text-center"><strong>FlashWine</strong> - Web app to learn about wine : digital cellar management, courses and quizzes, sharing with a community of friends <em>(in French)</em></p>
      <div class="row">
        <img src="/assets/FlashWine1.png" class="col-3 aos-init aos-animate" data-aos="zoom-in">
        <img src="/assets/FlashWine2.png" class="col-3 aos-init aos-animate" data-aos="zoom-in">
        <img src="/assets/FlashWine3.png" class="col-3 aos-init aos-animate" data-aos="zoom-in">
        <img src="/assets/FlashWine4.png" class="col-3 aos-init aos-animate" data-aos="zoom-in">
      </div>

      <br>
      <hr>
      <p class="text-center mt-2"><strong>SuperVoisin</strong> - Online platform to share services between neighbours : publishing offers, geolocalization, bookings, mailbox <em>(in French)</em></p></p>
      <div class="row">
        <img src="/assets/SuperVoisin1.png" class="col-3 aos-init aos-animate" data-aos="zoom-in">
        <img src="/assets/SuperVoisin2.png" class="col-3 aos-init aos-animate" data-aos="zoom-in">
        <img src="/assets/SuperVoisin3.png" class="col-3 aos-init aos-animate" data-aos="zoom-in">
        <img src="/assets/SuperVoisin4.png" class="col-3 aos-init aos-animate" data-aos="zoom-in">
      </div>

    </div>

    <div id="contact" class="container">
      <h2 class="title text-center aos-init aos-animate" data-aos="zoom-in">Contact</h2>
      <div class="row ml-2 mr-2">
        <div id="contact-container" class="col-12 col-sm-6" style="background-image: url(<%= image_path 'photo_contact_2.jpg' %>);">
          <div id="contact-infos">
            <p><i class="far fa-envelope"></i><a href="mailto:contact@noemie-pierart.com"> contact@noemie-pierart.com</a></p>
            <p><i class="fas fa-phone"></i> +33.6.13.85.76.07</p>
            <p><i class="fas fa-map-marker-alt"></i>8 place Saint-Projet, 33 000 Bordeaux</p></p>
          </div>
        </div>
        <div class="col-12 col-sm-6 form">
          <form action="https://formspree.io/mledvdrk" method="POST">
            <input class="form-element" type="text" name="_nom" placeholder="Name" required>
            <input class="form-element" type="text" name="_replyto" placeholder="Email" required>
            <input type="hidden" name="_language" value="fr" />
            <input type="hidden" name="_subject" value="New email from my website!" />
            <textarea class="form-element-message" name="message" placeholder="Message" required></textarea>
            <button class="btn btn-message" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
